<ng-progress id="progressBar"></ng-progress>
<header id="page-topbar">
  <div class="navbar-header">
    <div class="d-flex">
      <a class="navbar-brand xs-hidden sm-hidden" style="padding: 0" href="#">
        <img src="assets/images/logo.png" alt="" height="22" />
      </a>

      <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <em class="fa fa-fw fa-bars"></em>
      </button>
    </div>
    <div class="d-flex">

      <div class="d-flex mobile-profile">
        <div class="dropdown d-none d-lg-inline-block ms-1">
          <button type="button" class="btn header-item noti-icon" data-toggle="fullscreen" (click)="fullscreen()">
            <em class="bx bx-fullscreen text-dark"></em>
          </button>
        </div>
        <div class="dropdown d-inline-block" ngbDropdown>
          <button type="button" class="btn header-item text-dark" id="page-header-user-dropdown" ngbDropdownToggle>
            <img class="rounded-circle header-profile-user" *ngIf="userLogin.foto_url" src="{{userLogin.foto_url}}"
              alt="User Avatar" />
            <em *ngIf="!userLogin.foto_url" class="fa fa-user"></em>
            <span class="d-none d-xl-inline-block ms-1">{{userLogin.nama}}</span>
            <em class="mdi mdi-chevron-down d-none d-xl-inline-block"></em>
          </button>
          <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
            <a class="dropdown-item text-danger" href="javascript: void(0);" (click)="logout()">
              <em class="bx bx-power-off font-size-16 align-middle me-1 text-danger"></em>
              Logout
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="collapse navbar-menu navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mt-2 mt-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle arrow-none" [class.active] = "['home'].includes(url)" href="javascript: void(0);"
            [routerLink]="['/']" id="dashboards" role="button">
            <i class="fa fa-home me-2"></i>Dashboard
          </a>
        </li>
        <li class="nav-item dropdown" ngbDropdown>
          <a class="nav-link dropdown-toggle" [class.active] = "['user'].includes(url)" (click)="onMenuClick($event)" href="javascript: void(0);"
            id="topnav-components" role="button" ngbDropdownToggle>
            <i class="bx bx-cog me-2"></i>Setting
            <div class="arrow-down"></div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>

<div class="topnav bg-primary" id="topnav">
  <div class="container-fluid">
    <nav class="navbar navbar-light navbar-expand-lg topnav-menu active" style="float: left;">
      <div class="collapse navbar-collapse" id="topnav-menu-content">
        <ul class="navbar-nav ">
          <li class="nav-item dropdown " id="dashboard-nav">
            <a class="nav-link arrow-none side-nav-link-ref" [class.active] = "['home'].includes(url)" id="topnav-dashboard" role="button" href="javascript: void(0);" [routerLink]="['/']">
              <i class="fa fa-home me-2"></i> Dashboard
            </a>
          </li>
          <li class="nav-item dropdown" id="steps-setting">
            <a class="nav-link dropdown-toggle arrow-none side-nav-link-ref" [class.active] = "['user'].includes(url)" href="javascript: void(0);" id="topnav-setting" role="button">
              <i class="fas fa-cog me-2"></i> Setting
              <div class="ms-sm-1 arrow-down"></div>
            </a>
            <div class="dropdown-menu">
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
